branca==0.6.0
folium==0.14.0
numpy==1.22.3
pandas==1.4.2
Pillow==9.1.0
plotly==5.14.1
scipy==1.8.0
streamlit==1.22.0
streamlit-folium==0.11.1
streamlit-option-menu==0.3.2
joblib==1.1.1
scikit-learn==1.2.2
lightgbm==3.3.5
openpyxl==3.0.9
statsmodels==0.13.2
webbrowser -t "http://www.python.org"
